 /* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/*Här börjar min CSS */

#inramning
{
width: 535px;
margin: 150px auto;
/*background-color: #41566E;*/
/*border: 2px solid;*/
border-radius: 25px;
box-shadow: 1px 1px 0px 0px #FFF, 5px 5px 40px 2px #BBB inset;
background-color: #FFF;
}

header /* skappar rammen längs upp, den som har sidans namn */
{
height: 65px;
}

header H1 /* ger H1 följande egenskaper som alltid är bundna till header div */
{
font-weight: bold;
line-height: 74px;
text-align: center;
font-family: ‘Lucida Sans Unicode’,‘Lucida Grande’,sans-serif;
font-size: 37px;
color: #000;
}

main
{

    height: auto;
    margin: auto;

}


body 
{
    background: url("promised.jpg");
}


table {
    border-collapse:collapse;
    margin: 20px 70px 40px 93px;
}

tr, td {
    border: none;
    padding: 20px;
}

img
{
    
margin: 0px 58px -10px -27px;
}

img:hover, a:hover, a:focus {
    -ms-transform:scale(1.2); 
    -moz-transform:scale(1.2);
    -webkit-transform:scale(1.2); 
    -o-transform:scale(1.2); 
    transform:scale(1.2);
}

button {
 margin: 0px 20px 6px 196px;
}

#grattis {
   
    padding: 10px;
font-family: "Arial",sans-serif;
margin: -1px 55px -12px 80px;

font-size: 17px;
font-weight: bold;
}