 /* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/*Här börjar min CSS */

#inramning
{
width: 535px;
margin: 150px auto;
/*background-color: #41566E;*/
/*border: 2px solid;*/
border-radius: 25px;
box-shadow: 1px 1px 0px 0px #FFF, 5px 5px 40px 2px #BBB inset;
}

header /* skappar rammen längs upp, den som har sidans namn */
{
height: 65px;
}

header H1 /* ger H1 följande egenskaper som alltid är bundna till header div */
{
font-weight: bold;
line-height: 74px;
text-align:center;
 font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
font-size: 25px;
color: rgb(5, 5, 5);
}

main
{

    height: auto;
    margin: auto;

}

body 
{
line-height: 1;
/*background-color: #EDEDED;*/
background-image: url(../pics/promised.jpg);

}

.newmessage
{   
background-color: #FFF;
width: 366px;
height: auto;
padding-top: 23px;
padding-bottom: 10px;
margin: 6px 649px 30px 71px;
    margin-top: 6px;
    margin-right-value: 649px;
    margin-bottom: 30px;
    margin-left-value: 71px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
word-wrap: break-word;
border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
box-shadow: 0px 0px 7px 0px #2A5091 inset, 0px 0px 16px 0px #2A5091;
} 

.textinput
{
       margin: 14px 3px 0px 34px;
}

.ikon
{
    margin-left: 455px;
}

.delete 
{
       margin: 1px 0px 4px -132px;
width: 17px;
height: auto;
}

.tidikon 
{

margin: -50px 19px 4px -155px;
width: 17px;
height: auto;
}

#antal 
{
   margin: 14px 3px 0px 34px; 
}

#result 
{
background-color: #FFF;
width: 203px;
padding-top: 23px;
padding-bottom: 10px;
margin: -163px 649px 28px 325px;
word-wrap: break-word;
border-radius: 10px;
box-shadow: 0px 0px 7px 0px #2A5091 inset, 0px 0px 16px 0px #2A5091;
height: 100px;

font-size: 22px;
text-align: center;
font-weight: bold;
height: 138px;
margin: -201px 649px 28px 325px;
}


#fel 
{
  background-color: #FFF;
width: 511px;
height: auto;
padding-top: 23px;
padding-bottom: 10px;
margin: -10px 81px 29px 17px;
word-wrap: break-word;
border-radius: 10px;
box-shadow: 0px 0px 7px 0px #2A5091 inset, 0px 0px 16px 0px #2A5091;

font-size: 22px;
text-align: center;
font-weight: bold;
} 


#antal
{
  background-color: #FFF;
width: 511px;
height: auto;
padding-top: 23px;
padding-bottom: 10px;
margin: -10px 81px 29px 17px;
word-wrap: break-word;
border-radius: 10px;
box-shadow: 0px 0px 7px 0px #2A5091 inset, 0px 0px 16px 0px #2A5091;

font-size: 22px;
text-align: center;
font-weight: bold;
} 


#svar
{
    
margin: 14px 3px 0px 34px;
}


#button
{
    margin: 14px 3px 0px 34px;
}

#textruta
{
  background-color: #FFF;
width: 288px;
height: auto;
padding-top: 23px;
padding-bottom: 10px;
margin: -16px 649px 30px 113px;
word-wrap: break-word;
border-radius: 10px;
box-shadow: 0px 0px 7px 0px #2A5091 inset, 0px 0px 16px 0px #2A5091;

font-size: 22px;
text-align: center;
font-weight: bold;

}

#textonpage
{
background-color: #FFF;
width: 297px;
padding-top: 23px;
padding-bottom: 10px;
margin: 0px 649px 30px 15px;
word-wrap: break-word;
border-radius: 10px;
box-shadow: 0px 0px 7px 0px #2A5091 inset, 0px 0px 16px 0px #2A5091;
height: 100px;

font-size: 22px;
text-align: center;
font-weight: bold;
vertical-align: middle;
line-height: 90px;
height: 138px;
}

